<div class="flex flex-col gap-3 p-4">
    <div class="flex justify-end items-center gap-3">
        <button mat-stroked-button (click)="openFiltersDialog()">
            <mat-icon>filter_list</mat-icon>
            Filters
        </button>

         <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
            <mat-icon>swap_vert</mat-icon>
            Sort
        </button>
    </div>
    
    <div class="m-4 grid grid-cols-4 gap-4">
        @for (product of products; track product.id) {
            <app-product-item [product]="product"></app-product-item>
        }
    </div>
</div>

<mat-menu #sortMenu="matMenu">
   <mat-selection-list [multiple]="false" [(ngModel)]="selectedSort" (ngModelChange)="onSortChange($event)">
       @for (sort of sortOptions; track $index) {
        <mat-list-option [value]="sort.value" [selected]="selectedSort === sort.value">
            {{ sort.value }}
        </mat-list-option>
       }
    </mat-selection-list>
</mat-menu>
