<h3 mat-dialog-title class="text-xl font-semibold">Filter Products</h3>
  <mat-divider></mat-divider>

<div class="flex p-2">
 
  <div class="w-1/2">
    <h4 class="text-lg font-medium mb-2 text-primary">Brands</h4>
    <mat-selection-list [(ngModel)]="selectedBrands" multiple="true">    
        @for (brand of shopService.brands; track $index) {
            <mat-list-option [value]="brand" [selected]="selectedBrands.includes(brand)">
                {{ brand }}
            </mat-list-option>
        }
    </mat-selection-list>
  </div>

  <mat-divider></mat-divider>

  <div class="w-1/2">
    <h4 class="text-lg font-medium mb-2 text-primary">Types</h4>
    <mat-selection-list [(ngModel)]="selectedTypes" multiple="true">    
        @for (type of shopService.types; track $index) {
            <mat-list-option [value]="type" [selected]="selectedTypes.includes(type)">
                {{ type }}
            </mat-list-option>
        }
    </mat-selection-list>
  </div>

</div>

<mat-dialog-actions align="end" class="mt-4 space-x-2">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="primary" (click)="applyFilters()">Apply Filters</button>
</mat-dialog-actions>
