:host {
  display: block;
  max-width: 100%;
}

mat-dialog-content {
  overflow: visible;
}

button[mat-stroked-button] {
  border-radius: 20px;
}

::ng-deep .mat-dialog-container {
  border-radius: 1rem !important; /* rounded modal */
  padding: 1.5rem !important;
  max-width: 500px;
  width: 100%;
}

