<section class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
        <h2 class="font-semibold text-2xl px-4">Thanks for your order!</h2>
        <p class="text-gray-500 mb-8">Your order<span class="fond-medium">#42</span>
        will be process in three working days. we will nofify you once you order shipped.
        </p>
        <div class="space-y-2 ronded-lg border border-gray-200 bg-gray-50 p-6 mb-8">
            <dl class="flex item-center justify-between gap-6">
                <dt class="font-normal text-gray-500">Date</dt>
                <dt class="font-medium text-gray-700 text-end">20 sep 2025</dt>
            </dl>
             <dl class="flex item-center justify-between gap-6">
                <dt class="font-normal text-gray-500">Payment Method</dt>
                <dt class="font-medium text-gray-700 text-end">Visa</dt>
            </dl>
             <dl class="flex item-center justify-between gap-6">
                <dt class="font-normal text-gray-500">Address</dt>
                <dt class="font-medium text-gray-700 text-end">Adress goes here</dt>
            </dl>
             <dl class="flex item-center justify-between gap-6">
                <dt class="font-normal text-gray-500">Amount</dt>
                <dt class="font-medium text-gray-700 text-end">$469.98</dt>
            </dl>
        </div>
        <div class="flex item-center space-x-4">
            <button routerLink="/orders" mat-flat-button>View Yours Orders</button>
            <button routerLink="/shop" mat-stroked-button>Continue Shopping</button>
        </div>
    </div>
</section>